{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div
  class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 gap-[70px] pt-[60px]"
>
  <div
    class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-9 px-20"
  >
    <p
      class="flex-grow-0 flex-shrink-0 w-[999px] text-[66px] font-semibold text-left text-[#354439]"
    >
      {{ section.settings.title | default: 'Bring Loved Ones Together with Every Delicious, Clean Creation.' }}
    </p>
    <div
      class="flex justify-center items-center flex-grow-0 flex-shrink-0 relative gap-2 px-7 py-3.5 rounded-[999px] bg-[#c06654]"
    >
      <p class="flex-grow-0 flex-shrink-0 text-xl font-bold text-left text-white">
        {{ section.settings.button_text | default: 'Discover Burner Market' }}
      </p>
    </div>
  </div>
  <div
    class="flex flex-col justify-start items-center self-stretch flex-grow-0 flex-shrink-0 relative overflow-hidden gap-[43px] pb-20 bg-[#354439]"
  >
    {% if section.settings.image1 != blank %}
      {{ section.settings.image1 | image_url: width: 1440 | image_tag:
        class: 'self-stretch flex-grow-0 flex-shrink-0 h-[534px] w-full object-cover',
        loading: 'lazy'
      }}
    {% endif %}
    <div
      class="flex flex-col justify-start items-start self-stretch flex-grow-0 flex-shrink-0 relative gap-[13px] px-20"
    >
      <p class="flex-grow-0 flex-shrink-0 text-[19px] font-semibold text-left text-white/60">
        OUR CORE MISSION
      </p>
      <p class="flex-grow-0 flex-shrink-0 w-[1214px] text-[40px] text-left text-white">
        We curate the finest, clean, and delicious food items to make it easy for you to create
        mouth-watering snacks and meals for yourself and your loved ones, effortlessly.
      </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image banner",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Bring Loved Ones Together with Every Delicious, Clean Creation.",
      "label": "Banner Title"
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Discover Burner Market",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Banner Image"
    }
  ],
  "presets": [
    {
      "name": "Image banner",
      "settings": {
        "title": "Bring Loved Ones Together with Every Delicious, Clean Creation.",
        "button_text": "Discover Burner Market",
        "button_link": "/collections/all"
      }
    }
  ]
}
{% endschema %}
